body {
  margin: 0;
  background-color:#eee;
}

#text {

  position: absolute;
  left:  500px;
  top:   80px;
  color: yellow;
  background-color:#224;
  padding: 3px;

}

a, a:visited {
  color: inherit;
}
